
<div class="container p-3">
  <div class="row">
    <div class="col-8">

      <div class="card p-3 mb-3">
        <h3> <%= @flat.name %></h3>
        <p> <%= @flat.address %></p>
      </div>

      <div class="card p-3 mb-3">
        <h3> A little bit more about that flat...</h3>
        <p> <%= @flat.description %></p>
      </div>

      <div class="card p-3 mb-3">
        <h3> Details</h3>
        <div class="d-inline-flex">
          <h4> <i class="fas fa-user-friends ml-3"></i> <%= @flat.number_of_guests %></h4>
          <h4> <i class="fas fa-euro-sign ml-3"></i> <%= @flat.price_per_night %></h4>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card p-3 mb-3">
        <h4> Book this place! </h4>
        <form>
          <div class="form-group">
            <label for="date1"></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">From</div>
              </div>
            <input type="date" class="form-control" id="date1" placeholder="From...">
          </div>

          <div class="form-group">
            <label for="date2"></label>
            <div class="input-group-prepend">
              <div class="input-group-text">To</div>
            </div>
              <input type="date" class="form-control" id="date2" placeholder="To...">
            </div>

          <button type="submit" class="btn btn-success">Book now!</button>
        </form>
      </div>
    </div>
  <hr>
  <%= link_to "Back to Flats list", flats_path %>
  </div>
</div>
